<div class="half left col">
    {{#base-card tagName="section"}}
        <h2><i class="icon-calendar icon-fixed-width"></i>Save the date!</h2>
        <p>
            The dinner dance will take place on <strong>Friday November 27th, 2015</strong>. {{!--Doors open at 6:00pm. --}}
        </p>
    {{/base-card}}
    {{#base-card tagName="section"}}
        <h2><i class="icon-map-marker icon-fixed-width"></i>Details</h2>
        
        <p>
            The event is taking place at the <strong><a href="https://goo.gl/i77VR2kL7nC2" target="_blank">Casa Loma</a></strong> at 1 Austin Terrace.
        </p>
        <ul class="icons-ul icons-list"> 
            <li>
                <i class="icon-li icon-arrow-right"></i>
                Busing will be provided from Convocation Hall to the venue.
            </li>
            <li>
                <i class="icon-li icon-arrow-left"></i>
                Busing will be provided from the venue back to campus.
            </li>
        </ul>
        {{!-- This is a custom embed map, go to mapsengine using the EngSci Club login to edit --}}
		<div class="map-wrapper">
            <a href="https://goo.gl/maps/i77VR2kL7nC2" target="_blank"></a>
            <iframe width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/engsciclub.njf9jg3m/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoiZW5nc2NpY2x1YiIsImEiOiJEMld5cjZNIn0.c3PXs6KcIsAfaFra2oQIrA'></iframe>
        </div>
    {{/base-card}}
</div>
<div class="half right col">
    {{#base-card tagName="section" class="sponsors"}}
        <h2><i class="icon-food icon-fixed-width"></i>Menu</h2>
        <div class="menu">
			Under Planning
        {{!--
            <h3>Hor D'Oeuvres (Available before the main dinner)</h3>
            <p>	
                Sesame Crusted Chicken Satay<br />
                Classic Greek Spanakopita<br />
                Crispy Vegetable Spring Rolls with Chili Plum Sauce<br />
                Coconut Shrimp with Pineapple Spiked Ketchup<br />
                Candy Table<br />
            </p>
            <hr>
            <h3>Appetizer</h3>
            <p>
                Farfalle Alfredo with Aged Parmesan & Roasted Garlic Cream Sauce
            </p>
            <hr>
            <h3>Entr&eacute;e</h3>
            <p>
                (MAIN)<br />
                Grilled 10oz Rib Eye Steak* <br />
                served with with peppercorn sauce, seasonal vegetables and mashed potatoes
            </p>
            <p>
                (VEGETARIAN)<br />
                Portabello Mushroom & Goat Cheese Strudel <br />
                with buttery asparagus
            </p>
            <hr>
            <h3>Dessert</h3>
            <p>
                Chocolate Ganache Gateaux with a Vanilla Bean Cream
            </p>
        </div>
        <div class="footnote">
            <h3>Notes</h3>            
            <p>
                All adults are given 5 drink tickets, and all attendees get unlimited pop & juice.
                *Steak is cooked Medium.
            </p> --}}
        </div>
    {{/base-card}}
    {{#base-card tagName="section"}}
        <h2><i class="icon-pencil icon-fixed-width"></i>Bought your ticket?</h2>
        <p>
            Registration will open after tickets are available.
        </p>
        {{#link-to "events.dance.register"}}
            <button type="button" class="alt big register-button" disabled >Registration & Seating</button>
        {{/link-to}}
    {{/base-card}}
    {{!--
    {{#base-card tagName="section"}}
        <h2><i class="icon-ticket icon-fixed-width"></i>How do I buy a ticket?</h2>
        <p>
            You can purchase a ticket from any of the EngSci Club execs, class reps or dinner dance directors
            in the EngSci Office during your lunch, starting on Wednesday October 1st.
        </p>
        <h3>Pricing</h3>
        {{#if remaining}}
            <p>
                Tickets are discounted for early bird and F!rosh.
            </p>
            <div class="row">
                <div class="pricing col left">
                    <span class="price">$70</span> <br>
                    for F!rosh <br>
                </div>
                <div class="pricing col right">
                    <span class="price">$70</span> <br>
                    for others <br>
                    (Early Bird)
                </div>
            </div>
        {{/if}}
        <div class="row">
            <div class="pricing col left">
                    <span class="price">$70</span> <br>
                    for F!rosh <br>
                </div>
            <div class="pricing col right">
                <span class="price">$75</span> <br>
                    for others <br>
                {{#if remaining}}(Regular){{/if}}
            </div>
        </div>
    {{/base-card}}
</div>

<div class="full col">
    {{#base-card tagName="section" class="sponsors"}}
        <h2><i class="icon-star icon-fixed-width"></i>Presented by</h2>
        <div class="logos">
            <a href="http://www.orbis.com" target="_blank">
                <img src="/images/events/dance/orbis.jpg" class="primary">
            </a>
        </div>
        <hr>
        <div class="logos">
            <a href="http://ibbme.utoronto.ca/" target="_blank">
                <img src="/images/events/dance/ibbme.png">
            </a>
            <a href="http://ece.utoronto.ca" target="_blank">
                <img src="/images/events/dance/ece.png">
            </a>
        </div>
    {{/base-card}}
</div>
--}}
