<div class="row">
    <div class="full col">
        {{#base-card tagName="section" class="only-heading"}}
            <h1>Log in to manage the website.</h1>
        {{/base-card}}
    </div>
    <div class="full col">
        {{#base-card tagName="section"}}

        {{/base-card}}
    </div>
</div>
