{{!-- Static data until Announcements is ready --}}

{{#base-card}}
<h2>Weekly Updates: September 29, 2014</h2>
<p>
    Good Morning Fabulous EngScis,</br>
    Its that time of the year... Its EngSci Dinner Dance Time!!!! Here are all the details you need for the week! 
</p>
<h3>EngSci Dinner Dance</h3>
<p>
    Get ready for an unforgettable night with you classmates! Come celebrate this year's Halloween night at the {{#link-to "events.dance"}}Engineering Science Dinner Dance: Masquerade Ball!{{/link-to}}
    </br>
    This year’s dinner dance will take place at one of the most prestigious venues with panoramic view of the skyline and waterfront at downtown Toronto.</br>
    It’s the perfect break to celebrate Friday Halloween night while attending the premiere of this years EngSci Dinner Dance Movie! All EngScis and their guests are invited. </br>
    The TICKETS are $75 ($70 for Frosh and Early Bird). Tickets include coat check, h’orderves, 5 drink tickets, unlimited fountain drinks and a 3 course plated dinner. Ticket sales will start
    Wednesday October 1st. Get your tickets early since there are LIMITED number of early bird tickets. Details on how to purchase ticket will follow shortly.
</p>

<h3>Call for photographers</h3>
<p>
    If you have experience taking photographs and would like to volunteer to be a photographer for the 2014 EngSci dinner dance here is your chance!
    Please contact deniz.jafari@mail.utoronto.ca for details as soon as possible
</p>

<h3>EngSci Community Announcements</h3>

<h4>Technical Interview Workshop</h4>
<p>
    Wed. Oct. 1st, 2014 from 6-8pm in GB304 Interested in technical consulting or software development? Want to perfect your technical interview skills? 
    Then bring a copy of your resume to the Technical Interview workshop hosted by Altera. Altera is hiring! Altera is an industry leader in the technological and computer world.
    This event will focus on coding interviews in software. These interviews follow a similar format as major ECE employers like Google & Microsoft.
    The workshop is split into 2 parts, a presentation followed by one-on-one sessions with an Altera engineer.
</p>
<p>
    Check out the Facebook Event for more information:
    https://www.facebook.com/events/778954748809855/
</p>


<p>Alright folks, thats it for now! Talk to you soon with details on how to purchase your dinner dance tickets! Stayed tuned and have a wonderful week :) </p>

<p>EngSci Club Exec</p>

{{/base-card}}

{{!--
{{#base-card}}
    <h2><i class="icon-fixed-width icon-microphone"></i>Nocturne!</h2>
    <p>
        Now auditioning. {{#link-to "events.nocturne"}}Find out more{{/link-to}}.
    </p>
{{/base-card}}
--}}



{{#base-card}}
    <h2>Welcome to the new EngSci Club Website!</h2>
    <p>
        Welcome to the new EngSci Club Website. While this is still a work in progress,
        you can current check out the {{#link-to "events"}}events calendar{{/link-to}},
        some information on {{#link-to "events.socials"}}our friday night socials{{/link-to}},
        and the {{#link-to "events.dance"}}dinner dance{{/link-to}}.
    </p>
    <p>
        Below is a list of features to be added to the site in the future.
    </p>
    <ul>
        <li>Merchandise pre-order.</li>
        <li>More event information.</li>
        <li>Intramural sports information.</li>
        <li>Lost and found page.</li>
        <li>Anti-calendar.</li>
        <li>Suggestions page.</li>
    </ul>
    <p>
        Sincerely, <br>
        <b>Your-excited-for-the-school-year-engsci-club-exec</b>
    </p>
{{/base-card}}


{{#each announcement in content}}
    {{#base-card}}
        <h2>{{announcement.title}}</h2>
        {{announcement.body}}

        {{#each comment in announcement.comments}}
            <div>
                {{comment.body}}
            </div>
        {{/each}}
    {{/base-card}}
{{/each}}
