{{#each announcement in content}}
    {{#base-card}}
        <h2>{{announcement.title}}</h2>
        {{announcement.body}}

        {{#each comment in announcement.comments}}
            <div>
                {{comment.body}}
            </div>
        {{/each}}
    {{/base-card}}
{{/each}}
