{{!-- Static data until Announcements is ready --}}

{{#base-card}}

<h1>November Announcements</h1>
<p>
Hey everybody! With the semester in full swing, here are some reminders from the Club to you:
</p>

<h2>Dinner Dance Registration</h2>
<p>
For those who have bought tickets to this year's dinner dance, {{#link-to "events.dance"}}registration{{/link-to}} has commenced! If there are any issues, please email the Webmaster at engsci.website@gmail.com.
</p>
<h2>Common Room Etiquette</h2>
<p>
Don't forget that while you're studying hard in the common room, you also need to 
be responsible for your own belongings and messes - clean up after you're done studying, 
and leave each desk as it was for the next person.
</p>

<h2>Photos!</h2>
<p>
Photos from past events are now being uploaded to the <a href="https://www.flickr.com/photos/138883452@N06/albums">club's Flickr</a>. Go and check it out, and stay tuned - it's still being updated with event photos.
</p>

<p>EngSci Club Exec</p>

{{/base-card}}

{{#base-card}}
    <h2>Welcome to the EngSci Club Website!</h2>
    <p>
        Welcome to the EngSci Club Website. While this is still a work in progress,
        you can currently check out the {{#link-to "events"}}events calendar{{/link-to}},
        some information on {{#link-to "events.socials"}}our friday night socials{{/link-to}},
        and the archived {{#link-to "events.dance"}}dinner dance{{/link-to}}.
    </p>
    <p>
        Below is a list of features to be added to the site in the future.
    </p>
    <ul>
        <li>Merchandise pre-order.</li>
        <li>More event information.</li>
        <li>Intramural sports information.</li>
        <li>Lost and found page.</li>
        <li>Anti-calendar.</li>
        <li>Suggestions page.</li>
    </ul>
    <p>
        Sincerely, <br>
        <b>Your-survived-the-first-semester-engsci-club-exec</b>
    </p>
{{/base-card}}


{{#each announcement in content}}
    {{#base-card}}
        <h2>{{announcement.title}}</h2>
        {{announcement.body}}

        {{#each comment in announcement.comments}}
            <div>
                {{comment.body}}
            </div>
        {{/each}}
    {{/base-card}}
{{/each}}

