{{!-- Static data until Announcements is ready --}}


{{#base-card}}
<h2>Weekly Updates: October 20, 2014</h2>
<p>
    Good Morning Fabulous EngScis,<br>
    It's almost time for the dinner dance - here's what you need to know for this week! 
</p>
<h3>EngSci Dinner Dance</h3>
<p>
    Get ready for an unforgettable night with you classmates! Come celebrate this year's Halloween night at the {{#link-to "events.dance"}}Engineering Science Dinner Dance: Masquerade Ball!{{/link-to}}
    </br>
    This year’s dinner dance will take place at one of the most prestigious venues with panoramic view of the skyline and waterfront at downtown Toronto.</br>
    It’s the perfect break to celebrate Friday Halloween night while attending the premiere of this years EngSci Dinner Dance Movie! All EngScis and their guests are invited. </br>
    The TICKETS are $75 ($70 for Frosh). Tickets include coat check, h’orderves, 5 drink tickets, unlimited fountain drinks and a 3 course plated dinner. Ticket sales will end October 24th, 2014. Get
    your tickets from your class rep or the EngSci Club Office during your lunch! For those who have their ticket, don't forget to register
</p>

<p>Alright folks, thats it for now! See you all at the Dinner Dance! </p>

<p>EngSci Club Exec</p>

{{/base-card}}


{{#base-card}}
<h2>From the EngSci Club</h2>
<p>
    Hello Fabulous EngScis,</br>
    Congratulations on surviving the fall semester! Just an announcement going into the break and the new semester. 
</p>
<h3>EngSci Anti-Calendar</h3>
<p>
     This is an open call for volunteers for an Anti-Calendar project being made by the EngSci Club. For those who aren't aware, we are currently trying to compile student reviews for courses in the EngSci options, and as such, we need people (like you all!) to help write them.
If you're interested in expressing opinions (strong, weak, positive, negative) about courses, or hoping to better prepare younger/prospective EngSci's, this is the place to do it!</p>

<p>Any interested people (we still need reviews for most courses in most options) should send an email to engsci.anticalendar@gmail.com
</p>

<p>EngSci Club Exec</p>

{{/base-card}}

{{!--
{{#base-card}}
    <h2><i class="icon-fixed-width icon-microphone"></i>Nocturne!</h2>
    <p>
        Now auditioning. {{#link-to "events.nocturne"}}Find out more{{/link-to}}.
    </p>
{{/base-card}}
--}}



{{#base-card}}
    <h2>Welcome to the EngSci Club Website!</h2>
    <p>
        Welcome to the EngSci Club Website. While this is still a work in progress,
        you can current check out the {{#link-to "events"}}events calendar{{/link-to}},
        some information on {{#link-to "events.socials"}}our friday night socials{{/link-to}},
        and the {{#link-to "events.dance"}}dinner dance{{/link-to}}.
    </p>
    <p>
        Below is a list of features to be added to the site in the future.
    </p>
    <ul>
        <li>Merchandise pre-order.</li>
        <li>More event information.</li>
        <li>Intramural sports information.</li>
        <li>Lost and found page.</li>
        <li>Anti-calendar.</li>
        <li>Suggestions page.</li>
    </ul>
    <p>
        Sincerely, <br>
        <b>Your-survived-the-first-semester-engsci-club-exec</b>
    </p>
{{/base-card}}


{{#each announcement in content}}
    {{#base-card}}
        <h2>{{announcement.title}}</h2>
        {{announcement.body}}

        {{#each comment in announcement.comments}}
            <div>
                {{comment.body}}
            </div>
        {{/each}}
    {{/base-card}}
{{/each}}
