{{!-- Static data until Announcements is ready --}}

{{#base-card}}
<h1>Winter Annoucements</h1>
<h2></i>Nocturne: Now Auditioning!</h2>
<p>
It's time for the 2015 edition of <strong>Nocturne</strong>: The Engsci Talent Show! We're now starting auditions for this 
semester's show,scheduled for April 2nd, 2014. Find out more, and sign up for auditions {{#link-to "events.nocturne"}} here 
{{/link-to}}.
</p>


<h2>EngSci Anti-Calendar</h2>
<p>
     This is an open call for volunteers for an Anti-Calendar project being made by the EngSci Club. For those who aren't aware, we are currently trying to compile student reviews for courses in the EngSci options, and as such, we need people (like you all!) to help write them.
If you're interested in expressing opinions (strong, weak, positive, negative) about courses, or hoping to better prepare younger/prospective EngSci's, this is the place to do it!</p>

<p>Any interested people (we still need reviews for most courses in most options) should send an email to <a href="mailto:engsci.anticalendar@gmail.com">engsci.anticalendar@gmail.com</a>
</p>

<p>EngSci Club Exec</p>

{{/base-card}}

{{!--
{{#base-card}}
    <h2><i class="icon-fixed-width icon-microphone"></i>Nocturne!</h2>
    <p>
        Now auditioning. {{#link-to "events.nocturne"}}Find out more{{/link-to}}.
    </p>
{{/base-card}}
--}}



{{#base-card}}
    <h2>Welcome to the EngSci Club Website!</h2>
    <p>
        Welcome to the EngSci Club Website. While this is still a work in progress,
        you can currently check out the {{#link-to "events"}}events calendar{{/link-to}},
        some information on {{#link-to "events.socials"}}our friday night socials{{/link-to}},
        and the archived {{#link-to "events.dance"}}dinner dance{{/link-to}}.
    </p>
    <p>
        Below is a list of features to be added to the site in the future.
    </p>
    <ul>
        <li>Merchandise pre-order.</li>
        <li>More event information.</li>
        <li>Intramural sports information.</li>
        <li>Lost and found page.</li>
        <li>Anti-calendar.</li>
        <li>Suggestions page.</li>
    </ul>
    <p>
        Sincerely, <br>
        <b>Your-survived-the-first-semester-engsci-club-exec</b>
    </p>
{{/base-card}}


{{#each announcement in content}}
    {{#base-card}}
        <h2>{{announcement.title}}</h2>
        {{announcement.body}}

        {{#each comment in announcement.comments}}
            <div>
                {{comment.body}}
            </div>
        {{/each}}
    {{/base-card}}
{{/each}}

