<div class="row">
    <div class="full col">
        {{#base-card tagName="section" class="only-heading"}}
            <h1>This page isn't ready yet.</h1>
        {{/base-card}}
    </div>
    <div class="full col">
        {{#base-card tagName="section"}}
            <p>
                Please be patient while we work on getting this page up.
            </p>
        {{/base-card}}
    </div>
</div>
