<div class="row">
    <div class="full col">
        {{#base-card tagName="section" class="only-heading"}}
            <h1>Oops, you've reached a page that doesn't exist!</h1>
        {{/base-card}}
    </div>
    <div class="full col">
        {{#base-card tagName="section"}}
            <p>
                Did we make a mistake? Let us know that something is broken at
                <a href="mailto:engsci@skule.ca" target="_blank">engsci@skule.ca</a>.
            </p>
        {{/base-card}}
    </div>
</div>