/* Core Styles
 * author: John Liu
 */

$color-white = #FFFFFF
$color-white-dark = darken($color-white, 2.5%);
$color-white-darker = darken($color-white, 10%);
$color-black = #232323
$color-blue = #05244C
$color-blue-light = lighten($color-blue, 10%)
$color-blue-lighter = lighten($color-blue, 20%)
$color-blue-dark = darken($color-blue, 40%)

$weight-lighter = 200
$weight-light = 300
$weight-normal = normal
$weight-bold = bold


/* Root Element Styles */

html {
  height: 100%;
}

body {
  anti-aliasing();
  background-color: $color-white-dark;
  color: $color-black;
  font-family: 'Bariol', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: $weight-normal;
  font-size: 62.5%;
  height: 100%;
  margin: 0;
}

.container {
  font-size: 1.6em, 1.4em, 1.8em;
  line-height: 1.6;
  margin: 0 auto;
  width: 100%;
}


/* Layout */

.col {
  float: left;
  width: 100%;
  padding: 0 0;
  box-sizing: border-box;
}

.row {
  .row {
    margin: 0 0;
  }

  &:before {
    content: '';
  }

  &:after {
    content: '';
    clear: both;
  }
}

.side {
  width: 100%, 40%, 25%;
}

.main {
  width: 100%, 60%, 75%;
}

.half {
  width: 100%, 100%, 50%;

  &.left {
    padding-right: 0em, 0em, 0.5em;
  }

  &.right {
    padding-left: 0em, 0em, 0.5em;
  }
}


/* Components */

$card {
  @extends .col;

  background-color: $color-white;
  border-radius: 3px;
  box-shadow: 0 1px 2px 1px $color-white-darker;
  margin: 0.5em 0;
  padding: 1em;
}

a {
  color: $color-black;
  font-weight: $weight-bold;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button {
  border: 0 none transparent;
  padding: 0;
  margin: 0;
  outline: none;
  text-align: center;
  vertical-align: middle;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* Typography */

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 1.2;
}


p {
  margin-top: 0;
  margin-bottom: 1em;
}

/* Misc */

::-webkit-scrollbar {
  display: none;
}
