/* Events page styles.
 * author: John Liu
 */

.calendar {
  iframe {
    border: 0;
    height: 20em, 30em, 30em;
    width: 100%;
    display: none, block, block;

    &.mobile {
      display: block, none, none;
    }
  }
}