/* Navigation Bar
 * author: John Liu
 */

.side-toggler {
  background-color: rgba($color-blue, 25%);
  border-radius: 50%;
  display: block, none, none;
  font-size: 1em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  position: fixed;
  bottom: 1em;
  left: 0;
  margin-left: 1em;
  padding: 0;
  z-index: 10;

  transition: all 0.5s, background-color 0s, color 0s;
  transform: rotate3d(0, 0, 1, 0);

  &:active, &.expanded {
    background-color: rgba($color-blue, 75%);
    color: $color-white;
  }

  &.expanded {
    left: 80%;
    transform: rotate3d(0, 0, 1, 0);

    &:active {
      background-color: rgba($color-blue, 25%);
      color: $color-black;
    }
  }
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
  text-transform: uppercase;

  &.primary {
    background-color: $color-blue;
    border-top: 1px solid $color-blue-dark;
    border-top-color: $color-blue-dark;
    border-top-width: 1px;
    border-top-style: solid;

    & > li {
      & > a {
        background-color: transparent;
        border-bottom-width: 1px;
        padding: 0.5em 1em;
        padding-left: 2.5em;
        position: relative;

        &:active {
          background-color: $color-blue-light;
        }

        i {
          position: absolute;
          left: 1em;
          line-height: 1.6;
        }
      }

      &.active > a {
        border-left-width: 0.5em;
        background-color: $color-blue-light;
      }
    }
  }

  &.secondary {
    background-color: $color-blue-dark;
    border-bottom-color: $color-blue-dark;
    border-bottom-width: 0;
    border-bottom-style: solid;
    max-height: 0;
    overflow: hidden;

    transition: all 0.5s, border-bottom-width 0s;

    &.expanded {
      border-bottom-width: 1px;
      max-height: 20em;
    }

    & > li {
      & > a {
        padding: 0.25em 1.5em;

        &:active {
          background-color: $color-blue-light;
        }
      }

      &.active > a {
        border-left-width: 0.5em;
        background-color: $color-blue-light;
      }
    }
  }

  li {
    position: relative;

    a {
      box-sizing: border-box;
      border-color: $color-blue-dark;
      border-style: solid;
      border-width: 0;
      color: $color-white;
      font-weight: $weight-bold;
      font-size: 1em, 1em, 0.8em;
      display: block;
      width: 100%;
      transition: all 0.5s, background-color 0s;
    }

    .chevron {
      background-clip: content-box;
      background-size: 60%;
      background-position: center;
      background-image: url('../../images/chevron.svg');
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      padding: 0.5em;
      height: 1em * 1.6, 1em * 1.6, 0.8em * 1.6;
      width: 1em * 1.6, 1em * 1.6, 0.8em * 1.6;

      transform: rotate(0);
    }

    &.expanded .chevron {
      transform: rotate(180deg);
    }
  }
}
