/* Person Box component styles.
 * author: John Liu
 */

.person {
  @extends .col;

  width: 50%;
  margin: 0.5em 0;
  text-align: center;

  img {
    border-radius: 0.5em;
    display: block;
    width: 6em;
    margin: 0 auto;
  }

  span {
    font-weight: $weight-bold;
  }
}
