<div class="row">
    <div class="full col">
        {{#base-card tagName="section" class="only-heading"}}
            <h1>Celebrate our annual semi-formal at the Atlantis Pavilion.</h1>
        {{/base-card}}
    </div>

    {{outlet}}
</div>
