<div class="row">
    <div class="full col">
        {{#base-card tagName="section" class="only-heading"}}
            <h1>Come out to our events, made to make your EngSci experience a little more pleasant.</h1>
        {{/base-card}}
    </div>

    <div class="full col">
        {{#base-card tagName="section" class="calendar"}}
            <h2>Calendar</h2>
            <iframe src="http://www.google.com/calendar/embed?src=g.skule.ca_5rkontksbqj4sopborvredqrak%40group.calendar.google.com&ctz=America/New_York&showTitle=0&showPrint=0&showCalendars=0&mode=WEEK"
                    frameborder="no"
                    scrolling="no">
            </iframe>
            <iframe class="mobile"
                    src="http://www.google.com/calendar/htmlembed?src=g.skule.ca_5rkontksbqj4sopborvredqrak%40group.calendar.google.com&ctz=America/New_York&showTitle=0&showPrint=0&showCalendars=0&mode=AGENDA"
                    height="20em"
                    frameborder="no"
                    scrolling="no">
            </iframe>
        {{/base-card}}
    </div>
</div>
