<div class="row">
    <div class="full col">
        {{#base-card tagName="section" class="only-heading"}}
            <h1><i class="icon-trophy icon-fixed-width"></i>Compete with your fellow EngSci's!</h1>
        {{/base-card}}
    </div>

    {{outlet}}
</div>
