<div class="row">
    <div class="full col">
        {{#base-card tagName="section" class="only-heading"}}
            <h1>Nocturne: The EngSci Talent Show</h1>
        {{/base-card}}
    </div>

    <div class="full col">
        {{#base-card tagName="section"}}
            <h2><i class="icon-microphone icon-fixed-width"></i>Come out and support your fellow EngSci's!!</h2>
            <p>
                It's time for the 2015 edition of <strong>Nocturne</strong>: The EngSci Talent Show - get ready for a night of laughs, wonder and amazement from your fellow EngSci's, including U of T Idol candidates, rock bands, dance groups, and more!
                This year, Nocturne will be occuring on <b> Thursday, April 2nd, 2015, 7-9 pm</b> in the <b> Hart House East Common Room</b>. 
                If you are interested in helping out, contact us at <a href="mailto:engsci.website+nocturne@gmail.com">engsci.website+nocturne@gmail.com</a>.
            </p>
            <a href="https://www.facebook.com/events/666055183499738/">
				<img src="../images/events/nocturne_2015.jpg" alt = "Nocturne 2015 poster" style="display: block; margin-left: auto; margin-right: auto; width: 70%;">
			</a>
         {{/base-card}}
    </div>
    
</div>
