<div class="row">
    <div class="full col">
        {{#base-card tagName="section" class="only-heading"}}
            <h1>Nocturne: The EngSci Talent Show</h1>
        {{/base-card}}
    </div>

    <div class="full col">
        {{#base-card tagName="section"}}
            <h2><i class="icon-microphone icon-fixed-width"></i>Now auditioning!</h2>
            <p>
                Hey Awesome EngScis!
Already burnt out from one month of school ヾ(￣0￣ )ノ? We've got something for you to get excited about ✮.✮!
</p>
<p>
The EngSci Club presents: Nocturne! An annual talent show for ALL EngScis.
It will be in MARCH and will feature performances in singing, dancing or whatever talent you have. </p>
<p>
It does't matter what year/option you are in (Yes, F!roshies are welcome  !), If you would like to be part of the show in any form (performer/MC), please fill out this form: <a href="http://goo.gl/qC2lyP">here</a> and we will schedule a time to watch your awesome talent in action!</p>

<p>
If you would like to help organize the event or have any questions, please email fionna.gan@mail.utoronto.ca
and be sure to check out the Facebook events: <a href="https://www.facebook.com/groups/459992387433986/events/">here!</a>
</p><p>ps. we all know that you have years of experience in piano, choir, dance or drama on your resume under extra-curriculars  yepp... so don't be shy and share your talent, ლ(╹◡╹)ლ!</p>

            </p>
        {{/base-card}}
    </div>
    
</div>
