<div class="row">
    <div class="full col">
        {{#base-card tagName="section" class="only-heading"}}
            <h1>Nocturne: The EngSci Talent Show</h1>
        {{/base-card}}
    </div>

    <div class="full col">
        {{#base-card tagName="section"}}
            <h2><i class="icon-microphone icon-fixed-width"></i>Undergoing Planning!</h2>
            <p>
                Well, look who's excited about our talent show! Auditions and Nocturne itself won't be starting until Winter 2015,
                so come back to this page next semester for news on auditions and more details about the show.
            </p>
        {{/base-card}}
    </div>
    
</div>
