<div class="row">
    <div class="full col">
        {{#base-card tagName="section" class="only-heading"}}
            <h1>Nocturne: The EngSci Talent Show</h1>
        {{/base-card}}
    </div>

    <div class="full col">
        {{#base-card tagName="section"}}
            <h2><i class="icon-microphone icon-fixed-width"></i>Now Auditioning!</h2>
            <p>
								It's time for the 2015 edition of <strong>Nocturne</strong>: The Engsci Talent Show! We're now starting auditions for this 
								semester's show,scheduled for April 2nd, 2014. If you are interested, sign up for the auditions below. If you experience 
								any issues, please contact us at <a href="mailto:engsci.website+nocturne@gmail.com">engsci.website+nocturne@gmail.com</a>
            </p>

						<iframe src="https://docs.google.com/forms/d/1nzKZbLCGkCFCk3pwycbhDn2ZoUycCQ7ivxcrTGyZRss/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>	
        {{/base-card}}
    </div>
    
</div>
