<div class="row">
    <div class="full col">
        {{#base-card tagName="section" class="only-heading"}}
            <h1>Come out to meet some EngScis, watch a movie or play some board games.</h1>
        {{/base-card}}
    </div>

    <div class="half col left">
        {{#base-card tagName="section"}}
            <h2>Game Night</h2>
            <p>
                The next games night is on: <strong>Friday October 4th, 2013</strong>.
                See the {{#link-to "events"}}calendar{{/link-to}} for future dates.
            </p>
            <p>
                Come out to play board games on alternating Fridays. Bring your own games
                or borrow a set from us. We've got:
            </p>
            <ul>
                <li>Settlers of Catan</li>
                <li>Bang!</li>
                <li>Risk</li>
                <li>Cranium</li>
                <li>Poker</li>
            </ul>
            <p>
                To borrow a game, you'll need to deposit with us your driver's license or
                some other equivalent personal belonging.
            </p>
        {{/base-card}}
    </div>

    <div class="half col right">
        {{#base-card tagName="section"}}
            <h2>Movie Night</h2>
            <p>
                The next movie night is on: <strong>Friday October 11th, 2013</strong>.
                {{!--(<a href="https://www.facebook.com/groups/EngSciGroup/permalink/412278432205382/">Movie poll</a>).--}}
                See the {{#link-to "events"}}calendar{{/link-to}} for future dates.
            </p>
            <p>
                Come out to watch a movie on alternating Fridays. We'll be deciding which
                movie to watch via a poll in the Engineering Science Facebook group. In
                the past we've watched:
            </p>
            <ul>
                <li>Spirited Away (September 20th)</li>
            </ul>
        {{/base-card}}
    </div>
</div>
