<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <p>Hi <%= @user.name %>,</p>
        <p>
            You have successfully signed up for the EngSci Foosball Ladder! </br>
            You can begin playing games with other registered users, all of which you can see at the EngSci Website.
        </p>
        <p>
            Thanks for joining and have a great day!<br />
            -EngSci Website
        </p>
    </body>
</html>
