/* Library Mixins.
 * author: John Liu
 */

anti-aliasing(red-component = 255, blue-component = 255, green-component = 255, radius = 0.15) {
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 1px 1px rgba(red-component, blue-component, green-component, radius);
}
